{% extends 'oneblog/base.html' %}

{% block content %}
    <div class="article">
        {% if article.published_date %}
            <div class="date">
                {{ article.published_date }}
            </div>
        {% endif %}
        <a class="btn btn-default" href="{% url 'article_edit' pk=article.pk %}">
            <span class="glyphicon glyphicon-pencil"></span>
        </a>
        <h1>{{ article.title }}</h1>
        <p>{{ article.text|linebreaksbr }}</p>
    </div>

    <div class="comment">

    </div>
{% endblock %}